
<div>
</div>
<footer class="footer ">
    <div class="footer-content">
        <div class="random-iconB">B</div> <!-- Icono aleatorio -->
        <div class="random-icon">BARTECH</div> <!-- Icono aleatorio -->
        <div class="random-icon">2024</div> <!-- Icono aleatorio -->
        <div class="social-icons">
            <a href="#" aria-label="Facebook" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" alt="Facebook" class="icon">
            </a>
            <a href="mailto:info@bartech.com" aria-label="Email">
                <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email" class="icon">
            </a>
            <a href="#" aria-label="Instagram" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384063.png" alt="Instagram" class="icon">
            </a>
        </div>
    </div>
</footer>
