* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    flex: 1;
}

.main-content {
    flex: 1; /* Permite que el contenido principal crezca y empuje el footer hacia abajo */
}

.footer {
    background-color: #000000;
    position: sticky; /* Fija el header en la parte superior al hacer scroll */
    color: #fff;
    text-align: center;
    padding: auto 16px;
    height: 80px;
    z-index: 10; /* Asegura que el header esté sobre otros elementos */
  }

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.random-icon {
    font-size: 24px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}

.random-iconB {
    font-size: 24px;
    color: #840707;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(245, 30, 51, 0.1);
    text-align: center;
}