  <header>
    <app-header></app-header>
  </header>
  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Registrar Cancion</title>
    <img src="../../../assets/resources/bartech_logo_reducido_transp.png" alt="Logo" class="bartech-logo">
  
  </head>
  <body>
  
    <div class="main-content">
    <br>
    <br>
  
    <div class="registration-cancion-form">
      <div class="back-arrow" title="Volver" class="btn btn-danger" style="background-color: #d9534f;" (click)="navegarAtras()" (keydown)="navegarAtras()">
        <!-- Usa una flecha o un icono, por ejemplo, de FontAwesome -->
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/> 
        </svg>
        Atras
      </div>
      <h1>Registrar</h1>
      <form [formGroup]="cancionForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend class="title-center">Solicitud de canción</legend>
      
          <div class="form-group">
            <label for="genero">Género</label>
            <select formControlName="genero" id="genero" aria-label="Genero" class="form-select" required>
              <option value="">Selecciona un género</option>
              <option value="Salsa">Salsa</option>
              <option value="Pop">Pop</option>
              <option value="Vallenato">Vallenato</option>
              <option value="Jazz">Jazz</option>
              <option value="Merengue">Merengue</option>
              <option value="Regaeton">Regaeton</option>
              <option value="Electrónica">Electrónica</option>
              <option value="Clásica">Clásica</option>
              <option value="Reggae">Reggae</option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="artista">Artista</label>
            <input formControlName="artista" type="text" id="artista" placeholder="Artista musical" aria-label="Artista" required>
          </div>
      
          <div class="form-group">
            <label for="nombresCancion">Nombre de la canción</label>
            <input formControlName="nombresCancion" type="text" id="nombresCancion" placeholder="Nombre de la canción" aria-label="NombresCancion" required>
          </div>
      
          <button type="submit" [disabled]="!cancionForm.valid">Solicitar</button>
        </fieldset>
      </form>
    </div>
  </div>
  </body>
  <footer>
    <app-footer></app-footer>
  </footer>
  </html>
  