<!DOCTYPE html>
<html lang="es">
  <header>
    <app-header></app-header>
  </header>

    <body>
    <br>
    <br>

    <div class="registration-cancion-form">
      <h1>Registro</h1>
      <form>
        <fieldset>
          <legend class="title-center">Solicitud de canción</legend>

          <div class="form-group">
            <label for="genero">Genero</label>
            <input type="text" id="genero" name="genero" placeholder="Genero musical" aria-label="Genero" required>
          </div>

          <div class="form-group">
            <label for="Artista">Artista</label>
            <input type="text" id="artista" name="artista" placeholder="Artista musical" aria-label="Artista" required>
          </div>

          <div class="form-group">
            <label for="nombresCancion">Nombre de la canción</label>
            <input type="text" id="nombresCancion" name="nombresCancion" placeholder="Nombre de la canción" aria-label="NombresCancion" required>
          </div>

          <button type="submit">Solicitar</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
<footer>
  <app-footer></app-footer>
</footer>
