body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.canciones {
    padding: 20px;
    position: relative;

    h2 {
        font-size: 2rem;
    }

    table {
        margin-bottom: 20px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.youtube {
    background-color: #dc3545;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.reportes {
    background-color: #007bff;
    color: white;
}

.limpiar {
    background-color: #6c757d;
    color: white;
}

.qr-code {
    text-align: right;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .qr-code {
        text-align: center;
    }
}

.buttons {
    margin-top: 20px;
}

input {
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh; // Esto asegura que la página ocupe al menos el 100% de la altura de la ventana.
  }

  .vista {
    margin-top: 6%;
  }
  
  .paginador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .paginador-boton {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .paginador-boton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  


//AJUSTE DE ESTILOS PARA TODOS LOS COMPONENTES!
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  header {
    text-align: center;
    background-color: #f8f9fa;
  }
  
  footer {
    text-align: center;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .toolbar-content {
    flex-direction: column;
    width: 100%;
  }
  
  .toolbar-content {
    display: flex;
    margin-left: auto;
  }
  
  .toolbar-content span, 
  .toolbar-content a {
    margin: 8px 0;
  }
  
  
  
  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .back-arrow:hover {
    transform: scale(1.1);
  }

  .bg-light {
    background-color: #ecbef7 !important; // Color verde claro
    color: #237804; // Color de texto verde oscuro
}