<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            overflow-y: auto; /* Permite el desplazamiento vertical */
            height: 100vh; /* Establece la altura del viewport */
        }
        .canciones {
            padding-bottom: 50px; /* Espacio para que no se corte el footer */
        }
    </style>
</head>
<body>
    <div class="page-container">
        <app-header></app-header>
        <div class="vista">
            <div class="text-center">
                <button class="btn btn-success" (click)="generarQRCode()"> 
                  Si deseas registrar una canción, escanea el código QR
                </button>
                <br>
                <canvas id="qrcode"></canvas>
                <br>
                <button class="font-medium text-[#6c5ce7] hover:underline btn btn-success" routerLink="/registrarCancion">
                    Solicitar Aqui
                </button>
            </div>    

            <section class="canciones container my-4">
                <h2 class="text-center mb-4">Canciones</h2>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Género</th>
                            <th>Artista</th>
                            <th>Canción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C1</td>
                            <td>Género 1</td>
                            <td>Artista 1</td>
                            <td>Canción 1</td>
                            <td>
                                <button class="btn btn-danger">Youtube</button>
                            </td>
                        </tr>
                        <tr>
                            <td>C2</td>
                            <td>Género 2</td>
                            <td>Artista 2</td>
                            <td>Canción 2</td>
                            <td>
                                <button class="btn btn-danger">Youtube</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons d-flex justify-content-between">
                    <button class="btn btn-primary">Reportes</button>
                    <button class="btn btn-secondary">Limpiar</button>
                </div>
            </section>
            <footer>
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
</body>
</html>
