<header class="toolbar" role="banner">
  <img id="bartech-logo" src="../../../assets/resources/bartech_logo_reducido_transp.png" class="bartech-logo" alt="Bartech Logo" />
  <div class="toolbar-content">
    <span>BARTECH</span>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <!-- SVG path here -->
      </svg>
    </a>
    <button (click)="logout()" class="btn btn-danger  text-white px-4 py-2 rounded">
      Logout
    </button>
  </div>
</header>

