* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos del header */
.toolbar {
  position: sticky; /* Fija el header en la parte superior al hacer scroll */
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
  padding: auto 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10; /* Asegura que el header esté sobre otros elementos */
}
.toolbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toolbar img,
.toolbar #twitter-logo,
.bartech-logo {
  height: 100%;
}



#twitter-logo {
  margin-left: 16px;
  transition: opacity 0.3s;
}

#twitter-logo:hover {
  opacity: 0.8;
}

@media (max-width: 600px) { /* Ajuste para pantallas pequeñas */
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: auto;
  }

  .toolbar img, 
  .toolbar #twitter-logo {
    margin: 8px 0;
    height: auto;
    max-width: 100%;
  }


}