.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.toolbar img {
  height: 100%;
}

.toolbar-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toolbar #twitter-logo {
  height: 100%;
  margin-left: 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.bartech-logo {
  height: 100%;
}

@media (max-width: 50%) {
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  .toolbar img, .toolbar #twitter-logo {
    margin: 8px 0;
  }

  .toolbar-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .toolbar-content span, .toolbar-content a {
    margin: 8px 0;
  }
}
