<!DOCTYPE html>
<html lang="es">
  <header>
    <app-header></app-header>
  </header>

  <body>
    <div class="flex min-h-screen flex-col md:flex-row items-center justify-center ">
      <div class="container text-center">
        <div class="row align-items-center">
          
          <div class="col-6">
            <!-- Contenedor izquierdo con el GIF centrado -->
            <div class="w-full md:w-1/2 flex items-center justify-center mb-4 md:mb-0">
              <img src="../../../assets/resources/discoteca.jpg" alt="Gif fiesta" class="max-w-full rounded-2xl shadow-lg">
            </div>
          </div>
          
          <div class="col-6">
            <!-- Contenedor derecho con el formulario de inicio de sesión -->
            <div class="w-full md:w-1/2 max-w-md rounded-2xl bg-white p-6 shadow-lg">
              <div class="mb-6 text-center">
                <h1 class="text-3xl font-bold text-[#2d3436]">¡Únete a la fiesta!</h1>
                <p class="text-muted-foreground">Inicia sesión para unirte a la diversión.</p>
              </div>
              <form (ngSubmit)="onSubmit(userNameInput.value, passwordInput.value)" #loginForm="ngForm">
                <div class="form-group">
                  <label for="userName" class="block text-sm font-medium text-[#2d3436]">Usuario</label>
                  <input 
                    class="h-10 text-sm block w-full rounded-full border-2 border-[#a29bfe] bg-[#f1f2f6] px-4 py-2 text-[#2d3436] focus:border-[#6c5ce7]"
                    type="text"
                    id="userName"
                    name="userName"
                    placeholder="Usuario"
                    required
                    #userNameInput
                    >
                </div>
                
                <div class="form-group">
                  <label for="password" class="block text-sm font-medium text-[#2d3436]">Contraseña</label>
                  <input
                    class="h-10 text-sm block w-full rounded-full border-2 border-[#a29bfe] bg-[#f1f2f6] px-4 py-2 text-[#2d3436] focus:border-[#6c5ce7]"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="••••••••"
                    required
                    #passwordInput  
                  >
                </div>
                
                <button 
                  class="inline-flex items-center justify-center h-10 w-full rounded-full bg-[#6c5ce7] px-4 py-2 text-white hover:bg-[#a29bfe]"
                  type="submit"
                  [disabled]="loginForm.invalid"
                >
                  Iniciar sesión
                </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
<footer>
  <app-footer> </app-footer>
</footer>
