// Variables de colores
$border-color: #ccc;
$focus-color: #333;
$button-color: #d9534f;
$button-hover-color: #c9302c;
$background-color: #fff;
$box-shadow: rgba(0, 0, 0, 0.1);

.title-center {
  text-align: center;
}

.editar-bar-form {
  position: relative;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 0 10px $box-shadow;
  background-color: $background-color;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
      outline: none;

      &:focus {
        border-color: $focus-color;
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: $button-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-color;
      cursor: pointer;
    }
  }
}

// Media query para pantallas más pequeñas
@media (max-width: 600px) {
  .editar-bar-form {
    padding: 10px;

    .form-group input {
      padding: 8px;
    }

    button {
      padding: 8px;
      font-size: 14px;
    }
  }
}

//AJUSTE DE ESTILOS PARA TODOS LOS COMPONENTES!
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #f8f9fa;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.toolbar-content {
  flex-direction: column;
  width: 100%;
}

.toolbar-content {
  display: flex;
  margin-left: auto;
}

.toolbar-content span, 
.toolbar-content a {
  margin: 8px 0;
}



.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #d9534f;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: auto;
  height: auto;
}

.back-arrow:hover {
  transform: scale(1.1);
}
