<!DOCTYPE html>
<html lang="es">
  <header>
    <app-header></app-header>
  </header>
<body>
  <br>
  <br>

  <div class="editar-bar-form">
    <h1>Modificar</h1>
    <form>
      <fieldset>
        <legend class="title-center">Solicitud de actualizar establecimiento</legend>

        <div class="form-group">
          <label for="nombreEstablecimiento">Nombre del establecimiento</label>
          <input type="text" id="nombreEstablecimiento" name="nombreEstablecimiento" placeholder="Nombre del establecimiento" aria-label="nombreEstablecimiento" required>
        </div>

        <div class="form-group">
          <label for="direccion">Direccion del establecimiento</label>
          <input type="text" id="direccion" name="direccion" placeholder="Dirección del establecimiento" aria-label="direccion" required>
        </div>

        <button type="submit">Registrar establecimiento</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
<footer>
  <app-footer> </app-footer>
</footer>

