<br>
<br>

<div class="modificar-form">
  <h1>Actualizar</h1>
  <form>
    <fieldset>
      <legend class="title-center">Actualizar datos del usuario</legend>

      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Usuario" aria-label="Usuario" required>
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" aria-label="Contraseña" required>
      </div>

      <div class="form-group">
        <label for="nombres">Nombre</label>
        <input type="text" id="nombres" name="nombres" placeholder="Nombres" aria-label="Nombres" required>
      </div>

      <div class="form-group">
        <label for="apellido">Apellidos</label>
        <input type="text" id="apellido" name="apellido" placeholder="Apellidos" aria-label="Apellidos" required>
      </div>

      <button type="submit">Actualizar</button>
    </fieldset>
  </form>
</div>


