<!DOCTYPE html>
<html lang="es">
    <header>
        <app-header></app-header>
    </header>

<body>
    <header class="bg-light text-center py-4">
        <h1>BarTech</h1>
    </header>

    <section class="canciones container my-4">
        <h2 class="text-center mb-4">Tus Establecimientos</h2>
        <div class="text-center text-sm text-muted-foreground">
            <button class="font-medium text-[#6c5ce7] hover:underline btn btn-success" routerLink="/registrarBar">
                Registrar Establecimiento
            </button>
          </div>
        <br>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre del establecimiento</th>
                    <th>Direccion del establecimiento</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Establecimiento 1</th>
                    <th>Avenida siempre viva 123</th>
                    <td>
                        <button class="btn btn-secondary">Editar</button>
                    </td>
                </tr>
                <tr>
                    <th>2</th>
                    <th>Establecimiento 2</th>
                    <th>Avenida calle 26 # 12 </th>
                    <td>
                        <button class="btn btn-secondary">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    
          
    </section>
</body>
</html>
<footer>
    <app-footer></app-footer>
</footer>
