<header>
  <app-header></app-header>
</header>

<!DOCTYPE html>
<html lang="es">
<body>
    <!--<header class="bg-light text-center py-4">
        <h1>BarTech</h1>
    </header>-->

    <section class="flex min-h-screen flex-col md:flex-row items-center justify-center canciones container my-4">
        <h2 class="text-center mb-4">Tus Establecimientos</h2>
        <div class="text-center text-sm text-muted-foreground">
            <button class="font-medium text-[#6c5ce7] hover:underline btn btn-success" style="background-color: #d9534f;" routerLink="/registrarBar">
                Registrar Establecimiento
            </button>
          </div>
        <br>
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Nombre del establecimiento</th>
                <th>Dirección del establecimiento</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bar of bares"> <!-- Recorremos la lista de bares -->
                <td>{{ bar.id }}</td>
                <td>{{ bar.name }}</td>
                <td>{{ bar.address }}</td>
                <td>
                  <button class="btn btn-warning" [routerLink]="['/listarCanciones', bar.id]">Ir al establecimiento</button>
                  &nbsp;
                  <button class="btn btn-secondary" [routerLink]="['/editarBar', bar.id]">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>      
    </section>

</body>
  <footer>
    <app-footer></app-footer>
  </footer>
</html>

